div{
    font-size: 16px;
}
button{
    padding: .3em .8em;
    border: 1px solid rgba(0, 0, 0, .1);
    background: #58a linear-gradient(hsla(0,0%, 100%, .2, transparent));
    border-radius: .2em;
    box-shadow: 0 .05em .25em rgba(0, 0, 0, .5);
    color: white;
    text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
    font-size: 125%;
    line-height: 1.5;
    outline: none;
}
button.yes{
    background-color: #c00;
}
button.cancel{
    background-color: #6b0;
    transform: skewX(-45deg);
}
button.cancel>div{
    transform: skewX(45deg);
}
 
#linear-h{
    width: 200px;
    height: 150px;
    background: linear-gradient(#fb3 20%,#58a 0,#58a 60%,yellowgreen 0);
    background-size: 100% 45px;
}
#linear-v{
    width: 200px;
    height: 150px;
    background: linear-gradient(45deg,#fb3 25%,#58a 0,#58a 50%,#fb3 0,#fb3 75%,#58a 0);
    background-size: 42.426px 42.426px;
    border-radius: 50% 50%;
}
#trans-under,#trans::after{
    width: 790px;
    height: 490px;
    background: url("../background.jpg") 0 / cover fixed;
}
#trans{
    position: relative;
    top: -400px;
    left: 50px;
    width: 600px;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
    z-index: 20;
}
#trans::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(20px);
    margin: -30px;
    z-index: -1;
}