@charset "utf-8";
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;} 
html,body{
    /*background:#e1e5f0;*/
    /*background:#89b5e9;*/
    font-size:12px; 
    overflow: hidden;
    height: 100%;
    width: 100%;
    font-family: 'Microsoft Yahei',verdana;
    line-height: 1.666;
    min-width: 960px;
    position: relative;
    } 

ul,ol{list-style-type:none;} 
select,input,img,select{vertical-align:middle;} 
 
a{text-decoration:none;} 
a:link{color:#c1c4cb;} 
a:visited{color:#fff;} 
a:hover,a:active,a:focus{color:#fff;text-decoration:underline;} 

#top-adv{
    width: 100%;
    /*min-width: 160px;*/
    height: 60px;
    background-position: center;
    background-image: url("images/adv.png");
    display: none; /*控制广告显示*/
}
#close-adv{
    width: 30px;
    height: 30px;
    border: 1px solid #c1c4cb;
    background:0;
    font-size: 28px;
    line-height: 28px;
    color: #c1c4cb;
    text-align: center;
    float: right;
    display: block;
    position: relative;
    right: 20px;
    top: 15px;
}
.top-account-info{
    background-color: #2785DA;
    background: -webkit-linear-gradient(#2785DA,#55a4e2); 
    background: -o-linear-gradient(#2785DA,#55a4e2); 
    background: -moz-linear-gradient(#2785DA,#55a4e2); 
    background: url("images/cloud02.png") no-repeat 50% -30%,
    url("images/cloud01.png") no-repeat 28% 40%,
    url("images/sun.png") no-repeat 80% center,
    linear-gradient(#2785DA,#55a4e2);

    width: 100%;
    height: 60px;
    /*box-shadow: 0 0 2px 2px rgba(190, 197, 212, 0.9);*/
}
/*.background-cloud{
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: url("images/cloud02.png") no-repeat 50% -30%,url("images/cloud01.png") no-repeat 28% 40%,url("images/sun.png") no-repeat 80% center; 
}*/
.logo{
    width: 146px;
    height: 50px;
    float: left;
    margin:5px 0;
}
.logo>img{
    margin-left: 54px;
    width: 92px;
    height: 52px;
}
.account{
    float: left;
    font-size: 14px;
    margin: 10px 10px;
    line-height: 20px;
}
.account ul li{
     color: #c1c4cb;
}
.account ul li strong{
    color: #30343f;
}
.help{
    float: right;
    line-height: 60px;
    padding-right:30px;
}
.help ul{
    float: left;
    font-size: 14px;
    padding-left: 5px;
}
.help ul span,.account ul span{
    padding: 0 5px;
    color: #c1c4cb;
}

.help ul li,.account ul li{
    display:inline;
    color: #c1c4cb;
}

.content{
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: #55a4e2;*/
    background-color: #e1e5f0;
}
.left-nav-box{
    background-color:#2d323e;
    /*background-color: #30343f;*/
    width: 200px;
    float: left;
    height: 100%;
    margin: 0 auto ;
    color: #c1c4cb;
}
.search-bar{
    width: 200px;
    height: 70px;
    border-bottom: 1px solid #424652;
}
.seacrh-form{
    padding:18px 13px;
}
.search-input{
    background-color: #424652;
    border: 0;
    border-radius: 2px 0 0 2px;
    height: 34px;
    width: 130px;
    color: #c1c4cb;   
    margin: 0;
    padding: 0 5px;
}
.search-button{
    border-radius: 0 2px 2px 0;
    margin: 0;
    padding: 0;
    border: 0;
    width: 34px;
    height: 34px;
    background:#424652 url("images/search.png") no-repeat center center;

}
.right-content-box{
     
    /*border: 1px solid red;*/
    background-color: #e1e5f0;
    float: left;
    position: absolute;
    top: 0;
    left: 200px;
    right: 0;
    bottom: 0;
    border-radius: 3px;
    margin: 10px;
}
.home{
    display: none;
    width: 100%;
    height: 100%;
    /*margin-bottom: 10px;*/
    border-radius: 3px;
    color: #5a6779;
    /*margin:10px;    */
}
/*控制当前页面是否是首页*/
.home-left{
    width: 750px;
}
.home-right{
    width: 390px;
}
.home-pub{
    float: left;
    height: 100%;
    border-radius: 3px;
    color: #5a6779;
}
.home-content-pub{
    height: 100%;
    border-radius: inherit;
    border-bottom: 1px solid #cdd1dc;
    /*margin-bottom: 10px;*/
    background-color: #fff;
}
.welcomeinfo{
    height: 134px;
    margin: 0 10px 10px 0; 
}
.monitor{
    /*height: 366px;*/
    height: 426px;
    margin-right:10px;
}
.copyright-box{
    height: 225px;
}
.reports{
    /*height: 250px;*/
    height: 285px;
    margin-bottom:10px;
}
.new-member{
    /*height: 250px;*/
    height: 275px;
}
.pub-title{
    width: 100%;
    height: 55px;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #dadfed;
    line-height: 55px;
    text-indent: 10px;
}
.copyright-box span{
    margin: 0 10px; 
}
.copyright-box,.copyright-box a{
    color: #5a6779;
}


/*控制导航显示*/
#right-nav{
    display: none; 
    /*background-color: dimgray;*/
    width: 100%;
    height: 30px;
}

.menu-box{
    /*background-color: teal;*/
    width: 200px;
    height: auto;
    max-height: 65%;
    overflow-y:auto; 
    overflow-x:hidden; 
    border-bottom: 1px solid #424652;
}
.menu-box::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #424652;
}

.menu-box::-webkit-scrollbar
{
	width: 4px;
	background-color: #424652;
}

.menu-box::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #c1c4cb;
}
.menu>li{
    background: url("images/li-down.png") no-repeat 170px 11px;
    line-height: 34px;
    font-size: 14px;
    width: 200px;
    padding-left: 15px;
}
.menu>li>img{
    margin-right: 15px;
}
.sub-menu{
    display: none;
}
.sub-munu-item{
    line-height: 34px;
    font-size: 14px;
    width: 200px;
    padding-left: 50px;
    background-color: #242831;
}
.menu>li:hover{
    background-color: rgba(193, 196, 203, 0.2);
}
.sub-menu>li:hover{
    background-color: #2785DA;
}

.bottom-tips ul{
    margin-top: 10px;
}

.bottom-tips ul li{
    width: 200px;
    height: 20px;
    padding-left: 45px;
    line-height: 20px;
}
.bottom-tips ul li span{
    width: 10px;
    height: 10px;
    display: block;
    float: left;
    position: relative;
    top: 5px;
    left: -10px;
    background: url("images/tips.png") no-repeat;
}
.bottom-tips ul .tips-item2 span{background-position: -10px 0;}
.bottom-tips ul .tips-item3 span{background-position: -20px 0;}
.bottom-tips ul .tips-item4 span{background-position: -30px 0;}
.bottom-tips ul .tips-item5 span{background-position: -40px 0;}



/*.tab-box{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    color: #5a6779;
    background-color: #fff;
}*/

.content-item{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    color: #5a6779;
    background-color: #fff;
    overflow: auto;
}
/*控制菜单是否展开*/
.open{
    display: block;
} 
 /*控制显示右侧显示界面*/
.active{
    display: block;
}
/*控制左侧菜单选中样式*/
.selected{
    background-color: #2785DA;
}

/*登录页面样式*/
.background{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: -webkit-linear-gradient(#2785DA,#81C1E9); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#2785DA,#81C1E9); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#2785DA,#81C1E9); /* Firefox 3.6 - 15 */
    background: linear-gradient(#2785DA,#81C1E9); /* 标准的语法（必须放在最后） */
    /*background-image: url("images/footer_lodyas.png");*/
}
.cloudimg1{
    position: absolute;
    top: 3%;
    left: 7%;
    z-index: 1;
}
.cloudimg2{
    position: absolute;
    top: 65%;
    left: 17%;
    z-index: 1;
}
.cloudimg3{
    position: absolute;
    top: 17%;
    left: 60%;
    z-index: 1;
}
.cloudimg4{
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: -400px;
    z-index: 1;
}

.login{
    width: 400px;
    height: 480px;
    margin:-200px 0 0 -200px; 
    background-color:#424652;
    border-radius: 10px;
    opacity: 0.8;
    position: absolute;
    top: 40%;
    left: 50%;
    line-height: 24px;
    z-index: 2;
    display: none;
    color: #fff;
    border: 5px dotted #2785DA;
}
.logo-title{
    margin:60px auto 10px;
    width: 280px;
    height: 125px;
    text-align: center;
}
.reg-logo{
    margin-bottom: 15px;
}
.logo,.sys-name{
    line-height: 28px;
    font-size: 28px;
}
.enter-form{
    margin:0 auto;
    width: 280px;
}
.input-name{
    width: 240px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    outline: none;
    padding: 0 10px 0 30px;
    color: #242831;
    background-color: #fff;
    background-image: url("images/username.png");
    background-repeat: no-repeat;
    background-position: 5px 5px;
}
.input-password{
    width: 240px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    outline: none;
    padding: 0 10px 0 30px;
    color: #242831;
    background-color: #fff;
    background-image: url("images/password.png");
    background-repeat: no-repeat;
    background-position: 5px 5px;
}
.verification{
    height: 30px;
    margin-top:30px; 
    display: none;
}
.input-ver{
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    outline:none;
    padding: 0 10px 0 30px;
    /*margin-right: 10px;*/
    color: #242831;
    background-color: #fff;
    background-image: url("images/verification.png");
    background-repeat: no-repeat;
    background-position: 5px 5px;
}
.verimg{
    width: 100px;
    height: 30px;
    margin-left: 15px;
}
.input-label{
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
}
.enter-form>a{
    margin:0 5px; 
}
.input-submit{
    width: 280px;
    height: 30px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background-color: #2dbb5f;
    /*background-color: #2785DA;*/
    font-weight: bold;
    color: #fff;
    font-size: 22px;
}
.input-submit:hover{
    background-color: #8bbf9d;
}

/*//新用户注册*/
.registered{
    width: 400px;
    height: 480px;
    margin:-200px 0 0 -200px; 
    background-color:#424652;
    border-radius: 10px;
    opacity: 0.8;
    position: absolute;
    top: 40%;
    left: 50%;
    line-height: 24px;
    z-index: 2;
    display: none;
    color: #fff;
}
.reg-content{
    margin: 5px auto 0;
    text-align: center;
}
.reg-name{
    line-height: 28px;
    font-size: 28px;
    margin-bottom: 10px;
}
.reg-form{
    margin: 0 auto;
}
.reg-form>input{
    border: none;
    outline: none;
    color: #242831;
    border-radius: 5px;
    width: 240px;
    height: 30px;
    padding: 0 10px 0 30px;
    margin: 10px 0;
}
.reg-form>.reg-account{
    background-image: url("images/username.png");
    background-repeat: no-repeat;
    background-position: 5px 5px;
}
.reg-form>.reg-password{
    background-image: url("images/password.png");
    background-repeat: no-repeat;
    background-position: 5px 5px;
}
.reg-form>.reg-company{
    background-image: url("images/reg-company.png");
    background-repeat: no-repeat;
    background-position: 5px 5px;
}
.reg-form>.reg-email{
    background-image: url("images/reg-email.png");
    background-repeat: no-repeat;
    background-position: 5px 5px;
}
.reg-form>.reg-tel{
    background-image: url("images/reg-tel.png");
    background-repeat: no-repeat;
    background-position: 5px 5px;
}
.reg-form>.reg-code{
    background-image: url("images/reg-code.png");
    background-repeat: no-repeat;
    background-position: 5px 5px;
}
.reg-form>.reg-ver{
    background-image: url("images/verification.png");
    background-repeat: no-repeat;
    background-position: 5px 5px;
    width: 100px;
    margin-left:-28px; 
}
.reg-form>.input-submit{
    background-image: url("images/input-submit.png");
    background-repeat: no-repeat;
    background-position: 5px 5px;
    width: 280px;
    color: #fff;
}

/*注册成功*/
.reg-success{
    width: 400px;
    height: 480px;
    margin:-200px 0 0 -200px; 
    background-color:#424652;
    border-radius: 10px;
    opacity: 0.8;
    position: absolute;
    top: 40%;
    left: 50%;
    line-height: 24px;
    z-index: 2;
    display: none;
    color: #fff;
}
.success-content{
    margin-top: 30px;
    text-align: center;
    line-height: 35px;
}

/*//控制登录和注册*/
.active{
    display: block;
}